body {
  font-family: 'Arial', sans-serif;
  background: #f7f7f7; /* Fondo claro */
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #f0f0f0; /* Fondo ligeramente gris */
}

.checkout-container {
  background-color: #ffffff;
  width: 50%;
  margin: 6rem auto; /* Centrado horizontal con un margen superior de 6rem */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Estilo para los items del carrito */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #555;
}

/* Estilo para el total */
p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #444;
}

/* Separadores */
hr {
  border: 0;
  height: 1px;
  background: #eee;
  margin: 20px 0;
}

/* Formulario */
form {
  font-size: 1rem;
  color: #555;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

input[type="text"]:focus {
  border-color: #fcfcfc;
  outline: none;
}

/* Bot贸n */
button {
  font-family: 'Georgia', 'Times New Roman', serif !important;
  color: #202020 !important;
  background-color: rgba(224, 212, 198, 0.95) !important;
  border: 1px solid rgba(167, 105, 54, 0.718) !important;
  transition: background-color 0.3s ease, letter-spacing 0.3s ease !important;
  padding: 0.7rem 1.4rem !important;
  border-radius: 30px !important;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  display: block; /* Hace que el bot贸n sea un bloque */
  margin: 20px auto; /* Centra el bot贸n y agrega un margen superior */
}

button:hover {
  background-color: #A88B7D !important;
  letter-spacing: 2px;
  color: #202020 !important;
}

button:disabled {
  background-color: rgba(200, 190, 170, 0.95); /* Bot贸n deshabilitado */
  cursor: not-allowed;
}

