body {
  font-family: 'Arial', sans-serif;
  background: #f7f7f7; /* Fondo claro */
  color: #333;
  margin: 0;
  padding: 0;
}

.checkout-container {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Estilo para los items del carrito */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #555;
}

/* Estilo para el total */
p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #444;
}

/* Separadores */
hr {
  border: 0;
  height: 1px;
  background: #eee;
  margin: 20px 0;
}

/* Formulario */
form {
  font-size: 1rem;
  color: #555;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

input[type="text"]:focus {
  border-color: #fcfcfc;
  outline: none;
}

/* Botones */
button {
  background-color: rgba(224, 212, 198, 0.95); /* Color crema suave */
  color: rgba(50, 40, 30, 0.95); /* Color marrón oscuro */
  font-size: 1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rgba(210, 200, 180, 0.95); /* Un tono más oscuro al pasar el cursor */
}

button:disabled {
  background-color: rgba(200, 190, 170, 0.95); /* Botón deshabilitado */
  cursor: not-allowed;
}
